next_steps.*
build/
output*
list/
transcript
.vscode/
gvsoc_config.json
power_report.csv
trace_file.txt
insn.txt
log.txt
debug_*
compile_commands.json
CMakeCache.txt
cmake_install.cmake
CMakeFiles
/*/Makefile
/*/*/Makefile
/*/*/*/Makefile
/*/*/*/*/Makefile