# Environment & secrets
.env
.env.*
.env.local

# IDE & editor
.vscode/
*.code-workspace

# python
__pycache__/
*.pyc

# Build & output
build/
output/
output_*.txt
next_steps.*
power_report.csv

# Logs & traces
log.txt
trace_file.txt
insn.txt
debug_*

# CMake
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
compile_commands.json
/*/Makefile
/*/*/Makefile
/*/*/*/Makefile
/*/*/*/*/Makefile
log.txt
gvsoc*

# Test & CI
testsuite.py
testsuite*
test.conf
testlogs/
magia_deployment.egg*
.python-version
cache_fill.h
regression_output*
scripts/wave.do
llvm/

# Project-specific
gvsoc/
gvsoc_config.json
power_report.csv
list/
transcript
states/

# Deeploy generated code
tests/spatz_on_magia/deeploy_*

# Test generators' downloaded/intermediate model files
deployment/tests/*/*/*/download/
